body {
    font-family: 'Arial', sans-serif;
    background-color: #f3ffc7;
  }
  
  .Dictionary {
    max-width: 800px;
    margin: 50px auto;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
  }
  
  
  input[type="text"] {
    width: 90%;
    padding: 10px 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    font-size: 20px;
  }
  
  
  div img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  
  .pokePic:hover {
    transform: scale(1.3);
  }
  
  
  .pokePara {
    font-size: 18px;
    margin-bottom: 10px;
  }