*,*::before,*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.lineContainer{
    height: 100vw;
    width: 100vh;
    display: flex;
    justify-content: center;
}

.lineChart {
    margin-top: 20%;
    height: 100vh;
    width: 100vw;
    
}