.homelink {
  background-color: #3b4cca;
  color: #ffffff;
  margin: 2%;
  margin-bottom: 5%;
  height: 100%;
  width: 100%;
}

.homelinkback {
  background-color: #3b4cca;
  color: #ffde00;
  margin: 2%;

  height: fit-content;
  width: fit-content;
}

/* .homelink img{
    
  } */
.home-pic {
  height: 150px;
  width: 150px;
  object-fit: contain;
}

.homedesign {
  margin-right: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 900px) {
  #root {
    display: flex;
    justify-content: center;
    align-items: start;
  }
}
