label {
    font-weight: bold;
    display: flex;
    margin-bottom: 5px;
  }
  
  input[type="text"] {
    display: block;
    width: 400px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: gray;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .form-control {
    margin-bottom: 20px;
  }
  
  .error {
    color: red;
    font-size: 12px;
    text-align: left;
  }