*,*::before,*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-image: url("https://i.ibb.co/cDZwrvK/pokemon-signs-iy1iod1dyvanxuju.jpg");
  min-width: 100%;
  min-height: 100vh;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  list-style: none;
}

.link{
  background-color: #3b4cca;
  color: #649e37;
  margin: 2%
}